@font-face {
  font-family: Raisonne;
  src: url(/fonts/Raisonne_Demibold.otf);
}

.App {
  position: relative;
  overflow: hidden;
}

body {
  font-family: Raisonne;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #eeefef;
}

.content{
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Raisonne;
  /*background-color: yellow;*/
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #f0a773;
}

ul {
  list-style-type: none;
}


@media (max-width: 600px){
  .content{
    width: 100%;
    /*margin-left: 3%;*/
    /*margin-top: 3%;*/
  }
}

@media (min-width:601px) and (max-width:900px){
  .content{
    width: 100%;
    /*margin-left: 18%;*/
    margin-top: 50px;
  }

}

@media (min-width: 901px){
  .content{
    width: 100%;
    /*margin-left: 15%;*/
    margin-top: 150px;
  }
  }
