.categories {
  display: flex;
  justify-content: center;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.categories-main {
  display: flex;
  justify-content: center;
  width: 83.5%;
  margin-left: auto;
  margin-right: auto;
}

.category {
  box-sizing: border-box;
  display: flex;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 33.5%;
  margin: -2% 1% 2% 1%;
  color: black;
}

.imageCategory {
  width: 100%;
  padding-top: 100%;
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}

.headingCategory {
  display: inline-block;
  position: relative;
  font-family: Raisonne;
  margin: 0;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  top: 75%;
  background: white;
  padding: 1vw;
  border: 2px solid black;
  font-size: 2vw;
}

.category a:hover {
  color: #f0a773;
}

@media (max-width: 600px){
  .headingCategory  {
    font-size: 1.2em;
    width: 50%;
    top: 65%;
  }
}
