.categories {
  display: flex;
  justify-content: center;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.category {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 33.5%;
  margin: -2% 1% 2% 1%;
}

.imageCategory {
  width: 100%;
  padding-top: 100%;
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}

.headingCategory {
  display: inline-block;
  position: relative;
  font-family: Raisonne;
  padding: 5px 0 5px 0;
  margin: 0;
  background-color: #ffffffa8;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  top: 50%;
}

@media (max-width: 600px){
  .headingCategory  {
    font-size: 1.2em;
  }
}
