@font-face {
  font-family: Raisonne;
  src: url(/fonts/Raisonne_Demibold.otf);
}

*{
  box-sizing: border-box;
}


.outerbox {
  max-width: 600px;
  width: 600px;
  height: auto;
  margin: auto;
  margin-bottom: 50px;
  position: relative;
}

.productimage {
  margin: auto;
  width: 100%;
  padding-top: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
}

.descriptioncontainer {
  position: relative;
  margin: auto;
  width: 300px;
  top: -250px;
  left: 300px;
}

.description {
  font-family: Raisonne;
  padding: 30px;
  padding-top: 50px;
  width: 100%;
  background-color: white;
  border: 2px solid #265852;
  position: relative;
  color: #265852;
}

.buttondiv {
  width: 30%;
  top: -16%;
  left: 95px;
  position: absolute;
}

.button {
  border-radius: 50%;
  bottom: 0;
  right: 0;
  top: 100px;
}

#button:hover {
  background-color: #4ca49e;
  border-radius: 50%;
  bottom: 0;
  right: 0;
}

#button {
  font-family: Raisonne;
  background-color: #f0a773;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  border: 2px solid #265852;
  font-size: 20px;
  color: white;
  cursor: pointer;
}

#button:focus {
  outline: 0;
  box-shadow: 0 0 0 1pt #f0a773;
}

.buttonqty {
  text-align: center;
  margin: auto;
}

.quantitybutton {
  border: none;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 35px;
  cursor: pointer;
}

.numberbutton {
  border: none;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 35px;
}


#name {
  font-family: Raisonne;
  text-align: center;
  color: #265852;
  display: inline-block;
}

#nomargin {
  margin: 0;
}

#psize {
  font-size: 20px;
  margin: 0;
}

#margin {
  margin-top: 20px;
}

@media (max-width: 679px){
  .outerbox {
    max-width: 400px;
    width: 400px;
    margin: auto;
  }

  .descriptioncontainer {
    position: relative;
    margin: auto;
    width: 350px;
    top: 0;
    right:0;
    left: 0;
  }

  .description {
    margin-top: 30px;
    font-family: Raisonne;
    padding: 30px;
    padding-top: 40px;
    width: 100%;
    background-color: white;
    border: 2px solid #265852;
    position: relative;
    color: #265852;
  }

  .buttondiv {
    width: 30%;
    top: -25%;
    left: 125px;
    position: absolute;
  }

  #name {
    display: block;
    margin: 10px auto;
  }

  .description {
    display: none;
  }

  #mobiledescription {
    display: block;
  }

  .quantitybutton {
    padding: 20px;
    font-size: 25px;
  }
}

@media (min-width:680px) and (max-width:900px){
  .outerbox {
    max-width: 440px;
    width: 440px;
    margin: auto;
  }

  .descriptioncontainer {
    top: -200px;
    width: 250px;
    left: 220px;
  }


  .description {
    padding-top: 30px;
    margin-bottom: 20px;
  }

  .buttondiv {
    width: 30%;
    left: 75px;
    position: absolute;
  }

  #name{
    display: none;
  }

  #mobiledescription {
    display: none;
  }

  #psize {
    font-size: 15px;
    margin: 0;
  }

  #margin {
    margin-top: 20px;
    font-size: 15px;
    margin-bottom: 0;
  }

  #h1smallsize {
    font-size: 25px;
  }

  .quantitybutton {
    padding-top: 25px;
    font-size: 25px;
  }

  .numberbutton {
    padding-top: 25px;
    font-size: 25px;
  }

}



@media (min-width: 901px){
  #name {
    display: none;
  }

  #mobiledescription {
    display: none;
  }
}
