body{
padding: 0;
margin: 0;
font-family: sans-serif;
}

*{
  box-sizing: border-box;
}

#menu{
  font-family: Raisonne;
  font-size: 1.5em;
  line-height: 2em;
}

.links {
  color:  #265852;
}
#menu .links:hover {
  color: #f0a773;
}

.cart {
  padding-left: 50px;
}

.trash {
  position: relative;
  display: inline;
  background-color: transparent;
  border: 0;
  background-size: cover;
  height: 18px;
  width: 18px;
  cursor: pointer;
  background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjwhRE9DVFlQRSBzdmcgIFBVQkxJQyAnLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4nICAnaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkJz48c3ZnIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDMyIDMyIiBoZWlnaHQ9IjMycHgiIGlkPSJMYXllcl8xIiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCAzMiAzMiIgd2lkdGg9IjMycHgiIHhtbDpzcGFjZT0icHJlc2VydmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPjxnIGlkPSJ0cmFzaCI+PHBhdGggY2xpcC1ydWxlPSJldmVub2RkIiBkPSJNMjkuOTgsNi44MTljLTAuMDk2LTEuNTctMS4zODctMi44MTYtMi45OC0yLjgxNmgtM3YtMVYzLjAwMSAgIGMwLTEuNjU3LTEuMzQ0LTMtMy0zSDExYy0xLjY1NywwLTMsMS4zNDMtMywzdjAuMDAxdjFINWMtMS41OTUsMC0yLjg4NSwxLjI0Ni0yLjk4MSwyLjgxNkgydjEuMTgzdjFjMCwxLjEwNCwwLjg5NiwyLDIsMmwwLDB2MTcgICBjMCwyLjIwOSwxLjc5MSw0LDQsNGgxNmMyLjIwOSwwLDQtMS43OTEsNC00di0xN2wwLDBjMS4xMDQsMCwyLTAuODk2LDItMnYtMVY2LjgxOUgyOS45OHogTTEwLDMuMDAyYzAtMC41NTMsMC40NDctMSwxLTFoMTAgICBjMC41NTMsMCwxLDAuNDQ3LDEsMXYxSDEwVjMuMDAyeiBNMjYsMjguMDAyYzAsMS4xMDItMC44OTgsMi0yLDJIOGMtMS4xMDMsMC0yLTAuODk4LTItMnYtMTdoMjBWMjguMDAyeiBNMjgsOC4wMDF2MUg0di0xVjcuMDAyICAgYzAtMC41NTMsMC40NDctMSwxLTFoMjJjMC41NTMsMCwxLDAuNDQ3LDEsMVY4LjAwMXoiIGZpbGw9IiMzMzMzMzMiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjxwYXRoIGNsaXAtcnVsZT0iZXZlbm9kZCIgZD0iTTksMjguMDA2aDJjMC41NTMsMCwxLTAuNDQ3LDEtMXYtMTNjMC0wLjU1My0wLjQ0Ny0xLTEtMUg5ICAgYy0wLjU1MywwLTEsMC40NDctMSwxdjEzQzgsMjcuNTU5LDguNDQ3LDI4LjAwNiw5LDI4LjAwNnogTTksMTQuMDA1aDJ2MTNIOVYxNC4wMDV6IiBmaWxsPSIjMzMzMzMzIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiLz48cGF0aCBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xNSwyOC4wMDZoMmMwLjU1MywwLDEtMC40NDcsMS0xdi0xM2MwLTAuNTUzLTAuNDQ3LTEtMS0xaC0yICAgYy0wLjU1MywwLTEsMC40NDctMSwxdjEzQzE0LDI3LjU1OSwxNC40NDcsMjguMDA2LDE1LDI4LjAwNnogTTE1LDE0LjAwNWgydjEzaC0yVjE0LjAwNXoiIGZpbGw9IiMzMzMzMzMiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjxwYXRoIGNsaXAtcnVsZT0iZXZlbm9kZCIgZD0iTTIxLDI4LjAwNmgyYzAuNTUzLDAsMS0wLjQ0NywxLTF2LTEzYzAtMC41NTMtMC40NDctMS0xLTFoLTIgICBjLTAuNTUzLDAtMSwwLjQ0Ny0xLDF2MTNDMjAsMjcuNTU5LDIwLjQ0NywyOC4wMDYsMjEsMjguMDA2eiBNMjEsMTQuMDA1aDJ2MTNoLTJWMTQuMDA1eiIgZmlsbD0iIzMzMzMzMyIgZmlsbC1ydWxlPSJldmVub2RkIi8+PC9nPjwvc3ZnPg==")
}

.bagcount {
  position: absolute;
  bottom: 10px;
  left: 20px;
  line-height: 1;
}

.bag {
  position: relative;
  background-color: transparent;
  border: 0;
  background-size: cover;
  height: 60px;
  width: 60px;
  cursor: pointer;
  background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgaWQ9ItCh0LvQvtC5XzEiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDEzOSAxMzk7IiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCAxMzkgMTM5IiB4bWw6c3BhY2U9InByZXNlcnZlIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj48c3R5bGUgdHlwZT0idGV4dC9jc3MiPgoJLnN0MHtmaWxsOm5vbmU7c3Ryb2tlOiMwMDAwMDA7c3Ryb2tlLXdpZHRoOjY7c3Ryb2tlLW1pdGVybGltaXQ6MTA7fQo8L3N0eWxlPjxwYXRoIGNsYXNzPSJzdDAiIGQ9Ik0xMTEuOSwxMjhIMjcuMWMtMS40LDAtMi42LTEuMi0yLjYtMi42VjQzLjZjMC0xLjQsMS4yLTIuNiwyLjYtMi42aDg0LjhjMS40LDAsMi42LDEuMiwyLjYsMi42ICB2ODEuOEMxMTQuNSwxMjYuOCwxMTMuMywxMjgsMTExLjksMTI4eiIgaWQ9IlhNTElEXzFfIi8+PHBhdGggY2xhc3M9InN0MCIgZD0iTTQzLjUsNDFjMC0zMCwyNi0zMCwyNi0zMHMyNiwwLDI2LDMwIiBpZD0iWE1MSURfN18iLz48L3N2Zz4=")
}

.pricecount {
  display: inline-block;
  padding-right: 5px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 20px;
}

@media (max-width: 679px){
  /*start mobile hamburger */

  .sub-menu{
    font-size: 0.9em;
  }

  .menu {
    width:100%;
    padding-bottom: 15px;
    position: absolute;
    right: 0;
    top: -100%;
    transition: all 0.5s ease-in-out;
    background-color: #fff;
    z-index: 5;
  }

  .mobile-cart {
    display: block;
  }

  .desktop-cart {
    display: none;
  }

  .menu--isOpen {
    top: 60px;
  }


  .hamburger-checkbox {
    display: none;
  }

  .mobile-menu{
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: #fff;
    z-index: 10;
  }

  .hamburger{
    width: 40px;
    height: auto;
    cursor: pointer;
    padding: 15px 0 15px 10px;
    margin-right: 20px;
    position: relative;
    z-index: 10;
  }

  .bar{
    width: 30px;
    height: 4px;
    background-color: #828481;
    margin: 6px 0;
  }

  .hamburger--isOpen .bar1{
    transform: rotate(-45deg) translate(-8px, 6px);
  }

  .hamburger--isOpen .bar2{
  opacity: 0;
  }

  .hamburger--isOpen .bar3{
    transform: rotate(45deg) translate(-8px, -7px);
  }

  .mobile-menu ul{
    text-align: center;
    margin-right: 35px;
    margin-left: 0px;
  }

  .bag {
    left: -35px;
    margin-top: 14px;
    width: 34px;
    height: 34px;
  }

  .bagcount {
    position: absolute;
    bottom: 5px;
    left: 11px;
    line-height: 1;
    font-size: 15px;
  }

  .trash {
    left: -15px;
    margin-top: 18px;
    width: 28px;
    height: 28px;
  }

  /*end mobile hamburger*/

}

@media (min-width:680px) and (max-width:900px){

  nav {
    width: 18%;
    height: 100%;
    display: inline-block;
    position: fixed;
    top:25px;
  }

  .container{
    width: 79%;
    height: 2000px;
    background-color: yellow;
    margin-left: 18%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
  }

  .hamburger-checkbox {
    display: none;
  }

  #menu{
  font-size: 1em;
  line-height: 2em;
  /*margin-left: -20px;*/
  }

  .sub-menu {
    padding-left: 7px;
    font-size: 0.9em;
    line-height: 1.7em
  }

  .mobile-cart {
    display: none !important;
  }

  .desktop-cart {
    display: block !important;
  }


  .bagcount {
    bottom: 10px;
    left: 22px;
    font-size: 20px;
  }

  .cart {
    padding-left: 40px;
  }

  .pricecount {
    font-size: 15px;
  }

}

@media (min-width: 901px){

  nav {
    height: 100%;
    display: inline-block;
    position: fixed;
    top: 125px;
  }

  #menu{
  font-size: 1.5em;
  line-height: 2em;
  }

  .sub-menu {
    padding-left: 10px;
    font-size: 0.9em;
    line-height: 1.7em
  }

  .hamburger-checkbox {
    display: none;
  }

  .mobile-cart {
    display: none !important;
  }

  .desktop-cart {
    display: block !important;
  }

}
