body{
padding: 0;
margin: 0;
font-family: sans-serif;
}

*{
  box-sizing: border-box;
}

#menu{
  font-family: Raisonne;
  font-size: 1.5em;
  line-height: 2em;
}

.links {
  color:  #265852;
}
#menu :hover {
  color: #f0a773;
}

@media (max-width: 600px){
  /*start mobile hamburger */

  .sub-menu{
    font-size: 0.9em;
  }

  .menu {
    width:100%;
    padding-bottom: 15px;
    position: absolute;
    right: -100%;
    top: 60px;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
    z-index: 200;
  }

  .hamburger-checkbox:checked ~ .menu{
  right: 0;
  top: 60px;
  }

  .hamburger-checkbox {
    display: none;
  }

  .mobile-menu{
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: #fff;
  }

  .hamburger{
    width: 40px;
    height: auto;
    cursor: pointer;
    padding: 15px 0 15px 10px;
    margin-right: 20px;
  }

  .bar{
    width: 30px;
    height: 4px;
    background-color: #828481;
    margin: 6px 0;
  }

  .hamburger-checkbox:checked + .hamburger .bar1{
    transform: rotate(-45deg) translate(-8px, 6px);
  }

  .hamburger-checkbox:checked + .hamburger .bar2{
  opacity: 0;
  }

  .hamburger-checkbox:checked + .hamburger .bar3{
    transform: rotate(45deg) translate(-8px, -7px);
  }

  .mobile-menu ul{
    text-align: center;
    margin-right: 35px;
    margin-left: 0px;
  }

  /*end mobile hamburger*/

}

@media (min-width:601px) and (max-width:900px){

  nav {
    width: 18%;
    height: 100%;
    display: inline-block;
    position: fixed;
    top:25px;
  }

  .container{
    width: 79%;
    height: 2000px;
    background-color: yellow;
    margin-left: 18%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
  }

  .hamburger-checkbox {
    display: none;
  }

  #menu{
  font-size: 1em;
  line-height: 2em;
  margin-left: -20px;
  }

  .sub-menu {
    padding-left: 15px;
  }

}

@media (min-width: 901px){

  nav {
    width: 15%;
    height: 100%;
    display: inline-block;
    position: fixed;
    top: 125px;
  }

  #menu{
  font-size: 1.5em;
  line-height: 2em;
  }

  .sub-menu {
    padding-left: 15px;
  }

  .hamburger-checkbox {
    display: none;
  }

}
