.product-box {
  width: 48%;
  position: relative;
  margin: 1%;
  display: flex;
}

.image-product {
  width: 100%;
  padding-top: 100%;
  background-size: cover;
  background-position: center;
}

.product-overlay {
  opacity: 0;
  visibility: hidden;
  position: relative;
  justify-content: center;
}

.product-title {
  background: white;
  padding: 1vw;
  border: 2px solid black;
  position: absolute;
  margin-top: 1vw;
  width: 5vw;
  text-align: center;

}

.product-price {
  background: white;
  padding: 1vw;
  border: 2px solid black;
  position: absolute;
  bottom:0;
  margin-bottom: 1vw;
  width: 8vw;
  text-align: center;
}

.product-box:hover .product-overlay {
  opacity: 1;
  visibility: visible;
  transition: opacity 300ms ease-in;
}
