.herocontainer {
  display: flex;
  width: 68.5%;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin: 0 1% 1% 1%;
  background-size: cover;
  background-position: middle;
  background-repeat: no-repeat;
}

.herobutton {
  display: inline-block;
  position: relative;
  width: 20%;
  margin-left: auto;
  margin-right: auto;
  font-family: Raisonne;
  font-size: 2vw;
  border-radius: 0;
  background: white;
  padding: 1vw;
  border: 2px solid black;
}

@media (max-width: 600px){
  .herobutton  {
    font-size: 1em;
    width: 22%;
  }

  .herocontainer {
    width: 96%;
    margin-top: 2%;
    margin-bottom: 0;
  }

}
